.Page_Home {
    width: 100vw;
    height: 100vh;
    // background-color: #28282c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    .Page_Home_Text {
        width: 50%;
        padding: 0 50px 0 100px;
        position: relative;
        z-index: 2;
        h2 {
            margin: 0px 0 30px 0;
        }

        img {
            filter: invert(100%);
            width: 70px;
            margin-left: 0px;
            padding-bottom: 15px;
            // animation: wave-animation 3s linear -3s infinite;
            animation: wave-animation 3s linear infinite;
            transform-origin: bottom center;
        }
    }

    .Page_Home_Image {
        // float: right;
        width: 50%;
        
        img {
            filter: grayscale(0%);
            width: 80%;
            animation: picture-animation 5s linear infinite;
            margin-bottom: 70px;
        }
        position: relative;
        z-index: 1;
    }
    .DesignButton{
        background-color: transparent;
        color: white;
        padding: 8px 13px;
        border: 2px solid #34aab9;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

@keyframes picture-animation {
    0% {
        transform: translateY(40px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(40px);
    }
}
// @media only screen and (max-width: 991px){ // Tablet
//     .Page_Home {
//         .Page_Home_Text {
//             padding: 0 30px;
//         }

//     }
// }
@media only screen and (max-width: 991px){ // Tablet
    .Page_Home {
        height: fit-content;
        min-height: 100vh;
        flex-direction: column-reverse;
        .Page_Home_Text {
            width: 100%;
            padding: 0 30px;
            span{
                font-size: 20px;
                margin-right: 10px;
            }
            h2 {
                margin: 0px 0 20px 0;
                font-size: 25px;
            }

            img {
                filter: invert(100%);
                width: 70px;
                margin-left: 0px;
                padding-bottom: 15px;
                // animation: wave-animation 3s linear -3s infinite;
                animation: wave-animation 3s linear infinite;
                transform-origin: bottom center;

            }
        }

        .Page_Home_Image {
            width: 100%;
            margin-top: 0px;
            display: flex;
            justify-content: center;
            
            img {
                width: 70%;
                margin-bottom: 100px;

            }
         }
    }
}
@media only screen and (max-width: 425px) { // Phone
    .Page_Home {
        height: 100vh;
        flex-direction: column-reverse;
        .Page_Home_Text {
            width: 100%;
            padding: 0 30px;

            h2 {
                margin: 0px 0 20px 0;
                font-size: 20px;
            }

            img {
                filter: invert(100%);
                width: 70px;
                margin-left: 0px;
                padding-bottom: 15px;
                // animation: wave-animation 3s linear -3s infinite;
                animation: wave-animation 3s linear infinite;
                transform-origin: bottom center;

            }
        }

        .Page_Home_Image {
            width: 100%;
            margin-top: 0px;
            display: flex;
            justify-content: center;
            img {
                filter: grayscale(0%);
                width: 70%;
            }
         }
    }
}
