@import "NavBar" ;
@import "Waitting";

@import "Skill";
@import "Home";
@import "Intro";
@import "Project";
@import "Certificate";
@import "Contact";

@import "./model/Certifi_Model";

.BKApp{
    overflow-x: hidden;
    background-color: #28282c;
    // background-color: #28282c ;

}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
}
::-webkit-scrollbar-thumb:hover {
background:#7d7d7d;
}   